/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 8, 2020, 10:02:12 AM
    Author     : Viet
*/

.margin-top-50 {
    margin-top: 150px;
}
            
.input-user {
    width: 87%;
    height: 48px;
    margin-bottom: -1px;
    padding-left: 10px;
}
            
.input-pass {
    width: 87%;
    height: 48px;
    padding-left: 10px;
}

.login-btn {
    margin-top: 20px;
    width: 87%;
    height: 48px;
    border: 1px transparent;
    background: #3578E5;
    color: #fff;
}

.last-title {
    margin-left: 140px;
    margin-top: 12px;
}

.last-title-1 {
    margin-left: 116px;
    margin-top: 12px;
}

.first-title {
    margin-left: 91px;
    font-size: 20px;
    margin-bottom: 23px;
}
            
.box-post {
    width: 400px;
    height: 92px;
    padding-bottom: 60px;
    padding-left: 10px;
}
            
.post-btn {
    width: 400px;
    height: 33px;
    margin-top: 12px;
    border: transparent;
    background: #3578E5;
    color: #fff;
}
            
.content-cmt {
    margin-top: 40px;
    margin-left: -39px;
}

.content-cmt ul {
    width: 398px;
    height: 145px;
}
            
.post-btn-cmt {
    margin-left: 100px;
    margin-bottom: 20px;
}

.btn-post {
    width: 88px;
    height: 30px;
    border: transparent;
    background: #3578E5;
    color: #fff;
}

.big-tittle{
    font-size: 16px;
    font-weight: bold;
    color: #3578E5;
    margin-bottom: 10px;
}

.sm-title{
    font-size: 12px !important;
    font-style: italic;
}

.btn-blue{
    border: 1px transparent;
    margin-top: 10px;
    width: 102px;
    height: 33px;
    color: #fff;
    font-size: 13px;
    background: #3578E5;
}